.ListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  max-width: 400px;
  background-color: rgb(30, 215, 96);
}
